<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PS3BluMote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <PS3BluMote.Properties.Settings>
      <setting name="ClassGuid" serializeAs="String">
        <value>{745a17a0-74d3-11d0-b6fe-00a0c90f57da}</value>
      </setting>
      <setting name="devicePath" serializeAs="String">
        <value>BTHENUM\{00001124-0000-1000-8000-00805F9B34FB}_VID&amp;0002054C_PID&amp;0306\7&amp;2B2DAFC8&amp;0&amp;00214FAF2682_C00000000</value>
      </setting>
    </PS3BluMote.Properties.Settings>
  </applicationSettings>
</configuration>
